.Container {
  margin-bottom: 3rem;

  h3 {
    text-align: center;
    font-size: 2rem;
  }

  span {
    color: #d92749;
  }

  .plataformas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .Container {
    .plataformas {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
