.container {
  width: 40vw;

  input[name="email"] {
    font-weight: bold;
    font-size: 1.1rem;
    border: 0.1rem solid white;
  }

  input[name="button-envio-form"] {
    background-color: #d91149;
    font-weight: bold;
    cursor: pointer;

    border: 0.1rem solid white;

    &:hover {
      background-color: #dd2257;
    }

    &:active {
      background-color: #d80541;
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
    height: auto;

    padding: 3rem;
  }
}
